/* TAGs */

*{
 margin: 0;
}

body{
    margin-top: 30px;
}

header, nav, section, footer {
    background-color: #659494;
    border-radius: 5px; 
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    padding: 30px;
}

header:before,
nav:before,
footer:before{
    content: '<' ;
}

header:after,
nav:after,
footer:after{
    content: '>' ;
}

/* CLASSes */

.list{
    list-style: none;
}

.item{
    display: inline;
    border: 1px solid white;
    padding: 15px 85px;
    margin: 15px;
}